/data/
*.pt

checkpoints/
archives/

.venv/
uv.lock
__pycache__/

.vscode/
.idea/
.DS_Store

docs/
history/
submission/

DataChallengeExample.ipynb
mlflow.db
task_brief.pdf

!data/test_distribution.png
/test.py

