*.pt
data/test_distribution.png
/data/Crop_224_5fp_100K/
noisy_images
train_clean.csv
train_gender_weights.csv
train_split.csv
validation_noisy.csv
val_split.csv

checkpoints/
archives/

.venv/
uv.lock
__pycache__/

.vscode/
.idea/
.DS_Store

docs/
history/
submission/

DataChallengeExample.ipynb
mlflow.db
task_brief.pdf

!data/test_distribution.png
/test.py

